/* Стили для контейнера с машинами (Cars) */
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование по горизонтали */
    text-align: center; /* Центрирование содержимого по горизонтали */
}

/* Стили для карточки машины (Car) */
.item {
    display: inline-block; /* Отображение как блоки внутри контейнера */
    border: 1px solid #dba469;
    margin: 1%; /* Отступы между элементами */
    padding: 10px;
    width: calc(30% - 2%); /* Рассчитываем ширину для 3 карточек в ряду с отступами */
    vertical-align: top; /* Выравнивание элементов по верхнему краю */
    text-align: left; /* Выравнивание текста слева */
}

.item img {
    max-height: 100%;
    max-width: 100%;
    width: 100%; /* Масштабируем изображение, чтобы оно заполнило контейнер */
    height: auto;
}

/* Стили для заголовка и описания машины */
.item h2 {
    font-size: 1.5rem;
    margin: 0;
}

p {
    font-size: 14px;
    margin: 5px 0;
}

b {
    color: #007bff;
}

input[type="text"] {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    margin: 20px auto; /* Center the input horizontally and add margin for spacing */
    display: block;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  