.hh {
  background-color: #dba469;
  color: #fff;
  padding: 0 1px;
  display: block;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
  font-size: 16px;
  border-radius: 10px; /* Add border-radius to round the corners */
  overflow: hidden;
  position: relative;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px; /* Add border-radius to round the corners */
  overflow: hidden;
}
  
  /* Стили для .logo, .main-header-menu и .second-menu можно добавить по вашему усмотрению */
  .logo, .main-header-menu, .second-menu {
    margin: 0 10px; /* Отступы между элементами */
  
  }
  
  .logo p{
    font-size: 25px;
  }
  
  .main-menu {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы у списка */
    display: flex; /* Используем flexbox для выравнивания элементов списка */
  }
  
  .main-menu li {
    margin: 0 10px; /* Отступы между элементами списка */
    cursor: pointer; /* Изменение вида курсора при наведении на элементы списка */
  }
  
  .main-menu a{
    color: #fff;
    text-decoration: none;
  }

  .second-menu img{
      max-width: 30px;
      max-height: 30px;
  }

  /* .shop-cart{
    position: absolute;
    top: 30px;
    width: 450px;
    min-height: 100px;
    background-color: green;
    z-index: 100;
  } */