.image-container {
    width: 50%; 
    height: 50%;
    overflow: hidden;
    position: relative;
    margin-left: 45%;
    margin-top: -23%;
}
.page-container{
    margin-top: 8%;
}

.image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 1; /* Начальная прозрачность */
    transition: opacity 0.3s ease;
}
.top-half {
    text-align: center;
}

.explanationOfCompany h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #777;
}

.explanationOfCompany p {
    font-size: 30px;
    color: #e26c29;
}  
.explanationOfCompany{
    margin-left: 5%;
    /* margin-top: 10%; */
    max-width: 44%;
    align-items: center;
    background-position: center left;
    margin-top: 5%;
}
.explanationOfCompany img{
    width: 80%
}
/* Стили для каждой строки в футере */
.footer-row {
    display: flex;
    justify-content: center;
}

.footer-row ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.footer-row li {
    font-size: 12px;
    padding: 5px;
    color: rgb(56, 88, 152);
    display: inline;
}

.footer-row a {
    text-decoration: none;
    color: rgb(56, 88, 152);
    margin: 0 10px; /* Расстояние между элементами */
}

.footer-row a:hover {
    text-decoration: underline;
}