.button-add-to-cart {
    background-color: #de8849; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста */
    padding: 10px 20px; /* Внутренние отступы */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругляем углы кнопки */
    cursor: pointer; /* Изменяем курсор при наведении */
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
    margin-left: 200px; /* Сдвиг кнопки вправо на 10px */
}

.button-add-to-cart:hover {
    background-color: #dba469; /* Цвет фона при наведении */
}
