/* Cars.css */

body {
    padding: 0;
    margin: 0;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    background-color: #dba469;
    color: #e26c29;
    margin-top: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.top h2 {
    margin-left: 50px;
}

.searching {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 40px;
    margin-right: 10px;
}

input[type="search"] {
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #ccc;
}

#input {
    margin-right: 5px;
}
