.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #1a1a1a; /* Цвет фона, аналогичный главной странице */
    color: #fff; /* Белый текст */
    min-height: 100vh; /* Минимальная высота на весь экран */
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.list {
    list-style-type: none; /* Убрать маркеры списка */
    padding: 0;
    width: 100%;
    max-width: 1200px; /* Максимальная ширина списка */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Адаптивные колонки */
    gap: 20px; /* Расстояние между элементами */
}

/* CarItem.module.css */
.carItem {
    background-color: #333; /* Цвет фона для каждого элемента списка */
    padding: 15px;
    border-radius: 8px; /* Скругление углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Тень */
}

.carImage {
    width: 100%; /* Полная ширина */
    height: auto; /* Автоматическая высота */
    border-radius: 4px; /* Скругление углов изображения */
}

.carInfo {
    padding: 10px 0; /* Отступы сверху и снизу */
}

.header {
    display: flex;
    justify-content: space-between; /* Распределение пространства между элементами */
    align-items: center;
}

.likeIcon {
    cursor: pointer; /* Курсор указывает, что это кликабельный элемент */
    transition: transform 0.2s; /* Плавное изменение при наведении */
}

.liked {
    color: red; /* Цвет сердца при "лайке" */
    transform: scale(1.1); /* Увеличение иконки */
}

.details {
    margin: 10px 0; /* Отступы между деталями */
}

.footer {
    font-weight: bold;
    text-align: right; /* Выравнивание текста по правому краю */
}

.searchAndFilterContainer {
    display: flex;
    justify-content: space-between; /* Распределение элементов на всю ширину контейнера */
    align-items: center;
    width: 100%;
    max-width: 1200px; /* или другое значение в зависимости от вашего дизайна */
    margin: 20px auto; /* Центрирование контейнера */
}

.searchForm {
    flex-grow: 2; /* Позволяет полю поиска расти и заполнять доступное пространство */
    margin-right: 10px; /* Отступ справа от поля поиска */
}

.searchForm input[type="text"] {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: none;
}

.filterButton {
    padding: 10px 20px;
    background-color: #4CAF50; /* Цвет кнопки */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0; /* Предотвращает уменьшение кнопки при уменьшении окна браузера */
}

.filterButton:hover {
    background-color: #45a049;
}

/* Стили для адаптивного дизайна */
@media (max-width: 768px) {
    .searchAndFilterContainer {
        flex-direction: column;
    }

    .searchForm {
        width: 100%; /* Полная ширина на маленьких экранах */
        margin-bottom: 10px;
    }
}
